/* styles.css */

body {
    text-align: center;
}

#box {
    height: 200px;
    width: 200px;
    background: #fc3;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
}

.thing {
    height: 200px;
    width: 200px;
    background: #ac3;
    margin: 20px auto;
    text-align: center;
    line-height: 200px;
    border-top-left-radius: 200px;
}

button {
    background: #933;
    color: white;
    padding: 10px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 18px;
}

body#selectors {
    text-align: left;
}

body#events {
    width: 500px;
    margin: 0 auto;
}

form input {
    display: inline-block;
    margin: 10px 0;
}

#racetrack{
    background: url('../img/road.jpg') center left repeat-x;
    height: 330px;
    border-right: dashed 10px white;
    box-sizing: border-box;
}

.car {
    display: block;
    position: relative;
}






